@inject SignInManager<ApplicationUser> SignInManager;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


<head>
    

</head>
<div class="text-center text-white">
    <h1 class="display-4">Welcome</h1>
    <p style="font-size: 20px;">Most awesome chit-chat there is.</p>
    @if (SignInManager.IsSignedIn(User))
    {
        <p style="font-size: 20px;">
            Welcome @User.Identity.Name
        </p>

    }
    else
    {
        <p style="font-size: 20px;">
            Create a new account
            <a class="nav-link d-inline-block" asp-controller="account" asp-action="register">here</a><br /> or 
            <a class="nav-link d-inline" asp-controller="account" asp-action="register">login</a>
        </p>
    }

</div>
<!--<button onclick="document.getElementById('id01').style.display='block'" style="width:auto; color: white; text-decoration: underline;">login</button>-->

<div id="snackbar">We do not have any Terms & Privacies at this website yet. For more information, please contact our customer service dude: Filip Fredlund!</div>



