@model ChangeDisplayNameVM

@{
    ViewData["Title"] = "Change Username";
    Layout = "_Layout";
}

<head>
    
</head>

<h1 class="text-white">Change username</h1>

<div class="align-middle; text-white">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisplayName">New username</label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary" style="width: 100%">Change</button>
        </form>
    </div>
</div>

