@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    
</head>

<html>
<body>
    <div style="text-align:center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large; margin:100px;" class="text-white">
        Chit-Chat 4U is a chat service that offers a simple chat service with a user-friendly user interface. The chat was made as a project in the course
        Software developement for the web at Kristianstad University. The website was built using ASP.net with C#. The chat function was implemented with
        an ASP.net feature called SignalR. <br /><br />
        The programmers who made this website are Oskar, Christian and Filip!<br />
        For more information, please send an email to admin@chitchat.4u
    </div>



</body>
</html>
