@model AddFriendVM
@{
    ViewData["Title"] = "AddFriend";
    Layout = "_Layout";
}

<h1>AddFriend</h1>

<form method="post" asp-controller="chat" asp-action="addfriend">

    <label>Select a friend</label>
    <select asp-for="SelectedUser.Id"
            asp-items="@(new SelectList(Model.UserList,"Id","Email"))">
        <option>Please select one</option>
    </select>

    <input type="submit" />

</form>


