@{
    Layout = "_ChatHeader";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/chat.css" />
</head>
<body>
    <div id="screen">
        <div id="left-div">

            <button class="top-btn">Add friend</button>
            <button class="top-btn">something else</button>

            <span style="text-align: center; margin-top: 20px;">
                <div style="font-size: large; ">Friends</div>
            </span>
        </div>
        <div id="chatbox">

        </div>
        <div id="messagebox" style="text-align: center;">
            <form name="message" action="">
                <input name="usermsg" type="text" id="usermsg" />
                <input name="submitmsg" type="submit" id="submitmsg" value="Send" />
            </form>
        </div>
    </div>
    </div>
</body>
</html>
