@{
    ViewData["Title"] = "Chat";
    Layout = "_ChatHeader";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/chat.css" />
</head>
<body>
    <div id="screen">
        <div id="left-div">

            <button class="top-btn">+</button>

            <span style="text-align: center; margin-top: 20px;">
                <span style="font-size: large; ">Friends</span>
            </span>
            <ul class="friend-list" id="friendList">
                
            </ul>
        </div>
        <div id="chatbox">

        </div>
        <div id="messagebox" style="text-align: center;">
            <form name="message" action="">
                <input name="usermsg" type="text" id="usermsg" />
                <input name="submitmsg" type="submit" id="submitmsg" value="Send" />
            </form>
        </div>
    </div>
</body>

</html>

<script type="text/javascript" src="~/js/chat.js"></script>
