
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_ChatHeader.cshtml";
}
    <head>
        <link rel="stylesheet" href="~/css/chat.css" />
        <link rel="stylesheet" href="~/css/settings.css" />
    </head>

<html>
<body>
    <div style="text-align:center; margin-top: 200px;">
        <button class="settings-btn" onclick="document.getElementById('id03').style.display='block'">Change password</button>
    </div>
    <!--    <div style="text-align:center">
            <button class="settings-btn">Something else</button>
        </div>
    -->

    <div id="id03" class="modal">

        <div class="modal-content animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>

            <div class="container">
                <label for="oldPW" style="margin-top: 100px; color: white;"><b>Old Password</b></label>
                <input id="oldPW" type="password" value="" placeholder="Enter old password" name="oldPW" required>


                <label for="newPW" style="color: white;"><b>New Password</b></label>
                <input id="newPW2" type="password" value="" placeholder="Enter new password" name="newPW2" required>
                <input id="newPW2" style="margin-bottom: 40px" type="password" value="" placeholder="Enter new password again" name="newPW2" required>

                <input type="submit" class="submit-btn" value="Change password">
                <br>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="~/js/settings.js"></script>

